{% extends 'blog/base.html' %}

{% block content %}    
    <div class="container-contacts">
      <h2 style="text-align: center; margin-top: 30px; margin-bottom: 30px;">Номера</h2>
      
      <table>
        <thead>
          <tr>
            <th>Организация</th>
            <th>Телефон</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Компания</td>
            <td>985241</td>
          </tr>
          <tr>
            <td>Регистрация</td>
            <td>996431</td>
          </tr>
          <tr>
            <td>Отдел Кадров</td>
            <td>984712</td>
          </tr>
          <tr>
            <td>Директор</td>
            <td>89194568779</td>
          </tr>
        </tbody>
      </table>
    </div>
{% endblock %}
