<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Справочные номера</title>
    <link rel="stylesheet" href="style1.css">
  </head>
  
  <body>
    <div class="container">
      <h1>Номера</h1>
      
      <table>
        <thead>
          <tr>
            <th>Организация</th>
            <th>Телефон</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Компания</td>
            <td>985241</td>
          </tr>
          <tr>
            <td>Регистрация</td>
            <td>996431</td>
          </tr>
          <tr>
            <td>Отдел Кадров</td>
            <td>984712</td>
          </tr>
          <tr>
            <td>Директор</td>
            <td>89194568779</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
