{% extends 'blog/base.html' %}

{% load crispy_forms_tags %}
{% block content %}
    <div>
      {% if post.get_previous_by_published_date.pk %}
          <a style="float: left; margin-bottom: 15px;" href="{% url 'post_detail' pk=post.get_previous_by_published_date.pk %}">&lt Предыдущая</a>
      {% endif %}
      {% if post.get_next_by_published_date.pk %}
          <a style="float: right; margin-bottom: 15px;" href="{% url 'post_detail' pk=post.get_next_by_published_date.pk %}">Следующая &gt</a>
      {% endif %}
    </div>
    
    <article style="clear: both;">        
        <div>
          {% if post.author == user %}
              <div style="float: right; max-width: 15%;" class="panel-right">
                <a href="{% url 'post_edit' pk=post.pk %}"><button class="btn btn-outline-dark" title="Редактировать запись"><i class="bi bi-pencil-fill"></i></button></a>
                <a href="{% url 'post_delete' pk=post.pk %}"><button class="btn btn-outline-dark" title="Удалить запись"><i class="bi bi-trash"></i></button></a>
              </div>
          {% endif %}
          <h2 style="float: left; margin-top: 0; margin-bottom: 0;">{{ post.title }}</h2>
        </div>
        <div class="date" style="clear: both; margin-bottom: 15px;">
          {{ post.published_date }}
          {% if post.redacted_date %}
              (ред. {{ post.redacted_date }})
          {% endif %}
        </div>
        <p>{{ post.text|linebreaksbr }}</p>
        <p class="author" style="margin-bottom: 0;">{{ post.author }}</p>
    </article>

    <h3 style="margin-top: 30px">Комментарии ({{ post.comments.count }})</h3>
    {% for comment in post.comments.all %}
        <div class="comment">
          <b>{{ comment.author }}</b>
          <p class="date">{{ comment.created_date }}</p>
          <p>{{ comment.text|linebreaks }}</p>
        </div>
    {% empty %}
        <p>Комментариев пока нет</p>
    {% endfor %}

    {% if user.is_authenticated %}
        <h3 style="margin-top: 30px">Добавить комментарий</h3>
        <form method="POST">{% csrf_token %}
          <fieldset class="form-group">
            {{ form|crispy }}
          </fieldset>
          <div class="form-group">
            <button class="btn btn-light" type="submit">Отправить</button>
          </div>
        </form>
    {% endif %}

{% endblock %}