{% extends 'blog/base.html' %}

{% block content %}
    <h1>Видео</h1>
    <iframe width="699" height="393" src="https://www.youtube.com/embed/Ildq1qZHkA0" title="Конфликт Федора Емельяненко и UFC: ВСЯ ПРАВДА / КТО ВИНОВАТ | Фреш-Ток #1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe width="699" height="393" src="https://www.youtube.com/embed/2X5vY4-hvGw" title="Хабиб – как зарабатывать после ухода из UFC / ТАК выглядит Емельяненко сейчас | Фреш-ток #16" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
{% endblock %}